/* 스타일 초기화 */
.a11y-hidden {
    margin: 0;
    padding: 0;
    display: none;
}

body {
    margin: 0;
}

/*스타일 초기화 끝*/

/*애니메이션 설정*/
@keyframes headerLogo {

    100% {
        transform: none;
        opacity: 1;    /*이슈5.md*/
    }
}
/*애니메이션 설정 끝*/

header {
    /* background-color: pink; */
    height: 75PX;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e0;
    position: fixed;
    z-index: 10;
    /* -> 이슈2.md*/
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-105%);
    animation: headerLogo 0.2s 0.4s linear forwards;  

}
header a {
    padding: 20px 0;
    display: block;
    animation: headerLogo 0.3s 0.5s linear forwards;   /* -> 이슈4.md*/
    transform: translateX(-105%);
}

header img {
    margin: 0px 25px;
    display: block;
    /* transform: translateX(20%); -> 이슈3.md/*/

}

header button {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    margin-right: 2px;
    animation: headerLogo 0.3s 0.5s linear forwards;
    transform: translateX(105%);
}

header .sprite {
    background-image: url(./img/Icons.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
    width: 70px;
    height: 70px;
    /* background-color:tomato; */
    text-indent: -9999px;
    border: 0;
}

header .sprite-open {
    /* background-position: left -200px; */
    background-position-x: 0px;
    background-position-y: 5px;
}

header .sprite-close {
    /* background-position: left -200px; */
    /* z-index: 10; */
    position: absolute;
    top: 15px;
    right: 13px;
    font-weight: 700;
    background-position-x: -80px;
    /* background-color:blue; */
}

.menu-open:hover {
    background-color: #f5f5f5;
}

nav li {
    list-style: none;
}

nav {
    background-color: hsla(225, 57%, 10%, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transform: translateX(100%);
    /*왜 되지?*/
    transition: 0.4s;
}

.menu-item-act nav {
    visibility: visible;
    transform: translateX(0%);
}

nav ul {
    margin-top: 60px;
    padding: 0;
}

nav ul li {
    line-height: 1.15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid hsla(225, 57%, 30%, 0.5);
    padding-left: 17px;
}

nav ul a {
    text-decoration: none;
    color: #fff;
}


main {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}

/*모바일 버전*/
/* main {
    width: 100%;
    margin: 0 auto;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */
main ul {
    padding: 0;
    width: 840px;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
 
}

/*모바일 버전*/
/* main ul {
    background-color: royalblue;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
} */


main li {
    list-style: none;
    width: 400px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    margin-bottom: 20px;
    opacity: 0;    /*이슈5.md*/
    animation: headerLogo 0.5s linear forwards; /*이슈5.md*/ 
    transform: translateY(15%);    /*이슈5.md*/
   
}
main ul li:nth-of-type(1) {
    animation-delay: .5s;
}

main ul li:nth-of-type(2) {
    animation-delay: .7s;
}

main ul li:nth-of-type(3) {
    animation-delay: .9s;
}

main ul li:nth-of-type(4) {
    animation-delay: 1.1s;
}

/*모바일 버전*/
/* main li {
    background-color: indigo;
    list-style: none;
    width: 90%;
    margin: 0 10px;
} */
main ul li a {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: #6f6f6f;
    
    /* width: 50%;   */
    /* ->(이슈1) 왜 자식요소한테 직접적으로 위드값을 주면 안되는걸까요?*/
}

/* main ul li:nth-of-type(n+5) {
    transform: translateY(105%);
    animation: headerLogo 0.4s 0.5s linear forwards;

} */

main ul li img {
    transform: scale(0.95);
    transition: all 0.3s;
    margin-top: 15px;
}

main ul li a:hover img {
    transform: scale(1.05);
}

figure {
    margin: 0;
    padding-bottom: 10px;
    height: 350px;
    background-color: #f5f5f5;
}

main figure figcaption {
    margin-top: 3px;
    font-size: 1em;
}

section {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
    height: 358px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    visibility: hidden;
    transition: all 1s ease;
    opacity: 0;
    background-color: rgba(255, 254, 254, 0.6);
}

.menu-item-act section {
    visibility: visible;
    opacity: 1;
}

section button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: 45px;
    height: 45px;
    font-size: 14px;
    background-color: transparent;
    transition: 0.3s;
}

section button:hover {
    background-color: #f3f0f0;
}

section .dl-first {
    padding-top: 35px;
    /*왜 버튼이 높이 45인데 이건 30밖에 안했는데 더 떨어졋지?*/
    line-height: 1.1;

}

section .dl-first dd {
    border-top: 2px solid #212124;
    padding-top: 18px;
    margin: 0;
    font-size: 16px;
    line-height: 1.1;
}

section .dl-first dt {
    color: #212123;
    font-size: 18px;
}

section .dl-first span {
    display: block;
    padding-bottom: 20px;
    font-size: 14px;
    color: #8a8a8a;
}

section .dl-second {
    padding: 20px 20px;
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
    top: 265px;
    left: 0;
    font-size: 13px;
    margin: 0;
    height: 52px;
    /* line-height: 1.5px; */
}

section .dl-second dt {
    width: 4em;
    height: 1.4em;
}

section .dl-second dd {
    width: 4em;
    height: 1.4em;
    margin: 0;
    margin-left: 25px;
}

.dl-second dt:nth-of-type(n) {
    margin-left: 25px;
}

.dl-second dt:nth-of-type(2n) {
    border-left: 1px solid #999999;
    padding-left: 25px;
}